<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Pokemon!</h1>
  <h2>Zoek op naam</h2>
  <div>
    <input type="text" [(ngModel)]="straat"><br><br>
    <input type="number" [(ngModel)]="overtredingen"><br><br>
    <input type="submit" value="Find" (click)="findOvertredingen()"><br><br>
    <h2 *ngFor="let item of overtredingenLijst;">
      Datum: {{item.datum_vaststelling}}<br>
      Opnameplaats: {{item.opnameplaats_straat}}<br>
      Snelheidsovertredingen: {{item.aantal_overtredingen_snelheid}}<br>
      Roodlichtovertredingen: {{item.aantal_overtredingen_roodlicht}}<br>
    </h2>
  </div>
  


</div>

<router-outlet></router-outlet>