<!--The content below is only a placeholder and can be replaced.-->
<div>
<h4>Henricus van de Ven</h4>
  <h1>overtredingen!</h1>
  
  <div>
    Naam: <input type="text" [(ngModel)]="straat"><br><br>
    <input type="submit" value="Find" (click)="findOvertredingenPlaats()"><br><br>
    <h3 *ngFor="let item of overtredingenlijstPlaats;">
      Datum: {{item.datum_vaststelling}}<br>
      Opnameplaats: {{item.opnameplaats_straat}}<br>
      Snelheidsovertredingen: {{item.aantal_overtredingen_snelheid}}<br>
      Roodlichtovertredingen: {{item.aantal_overtredingen_roodlicht}}<br>
    </h3>
    </div>

    <div>
    Aantal overtredingen: <input type="number" [(ngModel)]="overtredingen"><br><br>
    <input type="submit" value="Find" (click)="findOvertredingenSnelheid()"><br><br>
    <h3 *ngFor="let item of overtredingenlijstSnelheid;">
      Datum: {{item.datum_vaststelling}}<br>
      Opnameplaats: {{item.opnameplaats_straat}}<br>
      Snelheidsovertredingen: {{item.aantal_overtredingen_snelheid}}<br>
      Roodlichtovertredingen: {{item.aantal_overtredingen_roodlicht}}<br>
    </h3>
    </div>

<div>
    <input type="submit" value="Find sorted" (click)="findAllOvertredingenSort()"><br><br>
    <h3 *ngFor="let item of overtredingenlijstSort;">
      Datum: {{item.datum_vaststelling}}<br>
      Opnameplaats: {{item.opnameplaats_straat}}<br>
      Snelheidsovertredingen: {{item.aantal_overtredingen_snelheid}}<br>
      Roodlichtovertredingen: {{item.aantal_overtredingen_roodlicht}}<br>
      </h3>
    </div>



</div>
<router-outlet></router-outlet>